services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.3
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "22181:2181"
    networks:
      - kafka-network

  kafka:
    image: confluentinc/cp-kafka:7.5.3
    container_name: kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
    ports:
      - "29092:9092"
    networks:
      - kafka-network

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "26379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
    networks:
      - kafka-network

  rts-project-python-app:
    build: .
    container_name: rts-project-python-app
    depends_on:
      - kafka
      - redis
    volumes:
      - .:/app
    working_dir: /app
    networks:
      - kafka-network
    command: sh -c "python application.py & python json_server.py & tail -f /dev/null"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      # install plugin automatically
      - GF_INSTALL_PLUGINS=marcusolsson-json-datasource
    networks:
      - kafka-network
    volumes:
      - grafana-data:/var/lib/grafana

  json-server:
    build: .
    container_name: json-server
    depends_on:
      - kafka
      - redis
    volumes:
      - .:/app
    working_dir: /app
    networks:
      - kafka-network
    command: python json_server.py
    ports:
      - "5001:5001"

networks:
  kafka-network:
    driver: bridge

volumes:
  redis-data:
  grafana-data: